<h2 mat-dialog-title>{{modalTitle}}</h2>
<mat-dialog-content>  
  <form [formGroup]="prescriptionForm" class="prescription-form">
    <mat-form-field class="example-full-width name">
        <input formControlName="name" matInput class="" placeholder="Tratamiento o Medicamento">
    </mat-form-field>
    <mat-form-field class="example-full-width whatisfor">
        <input formControlName="whatIsFor" matInput class="" placeholder="Para que sirve el Medicamento">
      </mat-form-field>
    <mat-form-field class="example-full-width duration">
        <input formControlName="duration" matInput class="" placeholder="Duracion (3 dias)">
    </mat-form-field>
    <mat-form-field class="example-full-width timing">
        <input formControlName="timing" matInput class="" placeholder="Dosis (cada 4 horas)">
    </mat-form-field>              
  </form>
</mat-dialog-content>
<mat-dialog-actions>
 <button mat-flat-button mat-dialog-close>Cancelar</button>
 <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog.-->
 <button mat-flat-button (click)="savePrescription()" >Guardar</button>
</mat-dialog-actions>
