.row {
    margin: 0em 0px 1em 0px;
}
button {
    width: 100%;
}
.onlyWhenSelected {
    display: none;
}
.hiddeSection{
    display: none;
}
.noPadding{
    padding: 0px;
}
mat-card.patient-search.mat-card {
    padding: 10px 1em;

    .mat-autocomplete-panel {
        display: inline-table !important;
    }
    .mat-form-field {
        width: 100%;
    }
}
mat-card.patient-info.mat-card {
    padding: 10px 0px;

    .row {
        margin:0px;
    }
    img {
        width: 100%;
        margin-left: 0px;
        margin-top: -10px;
    }
    mat-card-content.mat-card-content {
        padding: 0px 15px;
        text-align: justify;
    }
    mat-card-actions.mat-card-actions {
        margin: 0px;
    }

    mat-card-actions.mat-card-actions {
        margin: 0px;
        padding: 10px;
        margin-bottom: 0px;
    }
}
.mat-form-field {
    width: 97%;
}
.notes-form {
    display: grid;
    grid-template-areas: "weight   weight"
                         "height   height"
                         "reason   reason"
                         "notes    notes"
                         "btn_save btn_save";
    grid-template-columns: 50% 50%;
    
    .title {
        grid-area: title;
    }
    .weight {
        grid-area: weight;
    }
    .height {
        grid-area: height;
    }
    .reason {
        grid-area: reason;
    }
    .notes {
        grid-area: notes;
    }
    .btn_save {
        grid-area:btn_save;
    }
}

.history {
    padding: 0px;
    ul {
        margin: 0px;
        padding: 0px;
        li {
            display: grid;
            grid-template-areas: "date  reason  reason"
                                 "date  notes   notes"
                                 "date  doctor  sendEmail" ;
            grid-template-columns:  minmax( 70px, min-content )  auto  auto ;
            cursor: pointer;
            margin-bottom: 10px;
            border: solid 0px #fff;
            background-color: #e6e6e6;
            box-shadow: 2px 1px 1px #adadad;

            &:hover {
                .date {
                    background-color: #fd7e14;

                }
            }

            &.isActive {
                .date {
                    background-color: #fd7e14;
                }
            }            
            .date {
                grid-area: date;
                background-color: #00639d;
                color: #fff;
                margin-right: 0.5em;
                padding: 0.5em;
                display: grid;
                grid-template-rows: 1fr 1fr 1fr;
                
                .day {
                    font-size: 1.2em;
                    text-align: center;    
                    justify-self: center;
                    font-weight: 300;
                    
                }
                .month {
                    font-size: 0.9em;
                    text-align: center;
                    text-transform: capitalize;
                    font-weight: 300;
                }
                .year {
                    font-size: 0.9em;
                    text-align: center;
                    font-weight: 300;
                }
            }
            .reason {
                grid-area: reason;
                margin-top: 0.5em;
                font-size: 0.9em;
                line-height: 1em;
            }
            .notes {
                grid-area: notes;
                margin-top: 0.5em;
                font-size: 0.9em;
                line-height: 1em;
                align-self: center;
                justify-self: left;
            }
            .doctor {
                grid-area: doctor;
                margin-top: 0.5em;
                font-size: 0.8em;
                line-height: 1em;
            }
            .sendEmail {
                grid-area: sendEmail;
                justify-self: right;
                align-self: center;
                cursor: pointer;
                span {
                    text-transform: uppercase;
                    font-size: 0.8em;
                    color: #fd7e14;
                    margin-right: 5px;
                    i {
                        margin-right: 5px;
                    }                    
                }
            }
        }
    }
    
}

.detail {
    margin: 0px;
    padding: 0px;
    ul {
        padding: 0px;
        margin: 0px;

        li.prescriptionCards {
            margin-top: 5px;
            margin-bottom: 10px;
            border: solid 0px #fff;
            background-color: #e6e6e6;
            box-shadow: 2px 1px 1px #adadad;
            padding: 0.5em;
            display: grid;
            grid-template-areas:    "name name"
                                    "whatIsFor whatIsFor"
                                    "duration duration"
                                    "timing timing"
                                    "edit delete";
            grid-template-columns: "50% 50%";            

            &:hover {
                background-color: #fd7e14;
                color: #fff;
                cursor: pointer;
            }

            .name {
                grid-area: name;
            }
            .whatIsFor {
                grid-area: whatIsFor;
            }
            .duration {
                grid-area: duration;
            }
            .timing {
                grid-area: timing;
            }
            .edit {
                grid-area: edit;
                color: #00639d;           
                text-transform: uppercase;
                font-size: 0.75em;  
                cursor: pointer;
                align-self: center;
                justify-self: left;
            }
            .image {
                grid-area: image;
                color: #00639d;
                align-self: center;
                justify-self: center;
                text-transform: uppercase;
                font-size: 0.75em;
                cursor: pointer;
            }
            .delete {
                grid-area: delete;
                color: #00639d;           
                text-transform: uppercase;
                font-size: 0.75em;  
                cursor: pointer;
                align-self: center;
                justify-self: end;
            }
            
            div {
                margin-top: 5px;                        
                font-size:  0.85em;

                span {
                    font-size: 0.9em;
                }                
            }
            span {
                margin-right: 5px;
            }
            .image {
                display: inline-block;
                width: 50%;
                text-align: right;
            }
            .edit {
                display: inline;
                width: 50%;                
            }
        }

        li.checkupsCards {
            display: grid;
            grid-template-areas:    "reason reason reason"
                                    "notes notes notes"
                                    "edit image delete";
            grid-template-columns: 33.3% 33.3% 33.3%;

            &:hover {
                background-color: #fd7e14;
                color: #fff;                
            }

            .reason {
                grid-area: reason;
            }
            .notes {
                grid-area: notes;
            }
            .edit {
                grid-area: edit;
                color: #00639d;           
                text-transform: uppercase;
                font-size: 0.75em;  
                cursor: pointer;
                align-self: center;
                justify-self: left;
            }
            .image {
                grid-area: image;
                color: #00639d;
                align-self: center;
                justify-self: center;
                text-transform: uppercase;
                font-size: 0.75em;
                cursor: pointer;
            }
            .delete {
                grid-area: delete;
                color: #00639d;           
                text-transform: uppercase;
                font-size: 0.75em;  
                cursor: pointer;
                align-self: center;
                justify-self: end;
            }

            margin-top: 5px;
            margin-bottom: 10px;
            border: solid 0px #fff;
            background-color: #e6e6e6;
            box-shadow: 2px 1px 1px #adadad;
            padding: 0.5em;
            div {
                margin-top: 5px;                        
                font-size:  0.95em;

                span {
                    font-size: 0.85em;
                }                
            }
            span {
                margin-right: 5px;
            }
        }
    }
}