.row {
    margin: 0em 0px 1em 0px;
}
button {
    width: 100%;
}
.onlyWhenSelected {
    display: none;
}
mat-card.patient-search.mat-card {
    padding: 10px 1em;

    .mat-autocomplete-panel {
        display: inline-table !important;
    }
    .mat-form-field {
        width: 100%;
    }
}
mat-card.patient-info.mat-card {
    padding: 10px 0px;

    .row {
        margin:0px;
    }
    img {
        width: 100%;
        margin-left: 0px;
        margin-top: -10px;
    }
    mat-card-content.mat-card-content {
        padding: 0px 15px;
        text-align: justify;
    }
    mat-card-actions.mat-card-actions {
        margin: 0px;
    }

    mat-card-actions.mat-card-actions {
        margin: 0px;
        padding: 10px;
        margin-bottom: 0px;
    }
}
.mat-form-field {
    width: 97%;
}
.notes-form {
    display: grid;
    grid-template-areas: "weight   weight"
                         "height   height"
                         "reason   reason"
                         "notes    notes"
                         "btn_save btn_save";
    
    
    .title {
        grid-area: title;
    }
    .weight {
        grid-area: weight;
    }
    .height {
        grid-area: height;
    }
    .reason {
        grid-area: reason;
    }
    .notes {
        grid-area: notes;
    }
    .btn_save {
        grid-area:btn_save;
    }
}

.history {
    ul {
        margin: 0px;
        padding: 0px;
        li {
            display: grid;
            grid-template-areas: "date reason"
                                 "date notes"
                                 "date doctor";
            grid-template-columns:  minmax( 80px, min-content ) auto ;
            cursor: pointer;

            &:hover {
                .date {
                    background-color: #fd7e14;

                }
            }

            .date {
                grid-area: date;
                background-color: #00639d;
                color: #fff;
                margin-right: 0.5em;
                padding: 0.5em;
                
                .day {
                    font-size: 1.2em;
                    text-align: center;    
                    font-weight: 300;
                }
                .month {
                    font-size: 0.9em;
                    text-align: center;
                    text-transform: capitalize;
                    font-weight: 300;
                }
                .year {
                    font-size: 0.9em;
                    text-align: center;
                    font-weight: 300;
                }
            }
            .reason {
                grid-area: reason;
                margin-top: 0.5em;
            }
            .notes {
                grid-area: notes;
            }
            .doctor {
                grid-area: doctor;
            }
        }
    }
    
}

.detail {
    margin: 0px;
    padding: 0px;
    .prescriptionCards {
        display: grid;
        grid-template-columns: "100%";
    
        div {
            margin-top: 5px;                        
        }
        span {
            margin-right: 5px;
        }
    }
}