<h2 mat-dialog-title>{{modalTitle}}</h2>
<form class="checkup-form">
  <mat-dialog-content>    
    <mat-form-field class="example-full-width reason">
        <textarea matInput class="" placeholder="Reason"></textarea>
    </mat-form-field><br>
    <mat-form-field class="example-full-width notes">
        <textarea matInput class="" placeholder="Notes"></textarea>
      </mat-form-field><br>
    <div class="example-full-width image">
        <input  type="file" class="" placeholder="reason">
    </div>          
                
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-flat-button mat-dialog-close>Cancel</button>
    <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog.-->
    <button mat-flat-button [mat-dialog-close]="true">Save Checkup</button>
  </mat-dialog-actions>
</form>
