<h2 mat-dialog-title>{{modalTitle}}</h2>
<form [formGroup]="addCheckupForm" (ngSubmit)="saveCheckup()" class="checkup-form">
  <mat-dialog-content>    
    <mat-form-field class="example-full-width reason">
        <textarea formControlName="reason" matInput class="" placeholder="Motivo"></textarea>
    </mat-form-field><br>
    <mat-form-field class="example-full-width notes">
        <textarea formControlName="note" matInput class="" placeholder="Observación"></textarea>
      </mat-form-field><br>
    <div class="example-full-width image">
        <input (change)="onFileSelected($event)"  type="file" class="" placeholder="Imagen">
    </div>          
    <input formControlName="appointment" type="hidden" />
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-flat-button mat-dialog-close>Cancelar</button>
    <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog.-->
    <button mat-flat-button >Guardar</button>
  </mat-dialog-actions>
</form>
