mat-form-field {
    display: block;
    width: 100%;
    min-width: 400px;    
}
button.mat-flat-button.mat-primary {
    width: 49%;
    margin: 0.5%;
}
mat-dialog-container {
    min-width: 400px;    
}