@import '../../sass/variable';
@import '../../sass/mixins';

.patient-list {
    .card {
        box-shadow: 1px 1px 0px #ccc;
    }
    .add_patient {
        margin-left: 10px;
        text-transform: uppercase;
    }
    ul {
        list-style-type: none;
        margin:  0px;
        padding: 0px;
        li {
            margin-bottom: 0.5em;

            .card {
                display: grid;
                grid-template-areas: "image name"
                                     "image email"                                     
                                     "image age";
                grid-template-columns: 25% auto;
                border: none;
                overflow: hidden;

                &:hover{
                    background-color: #359cf0;
                    color: #fff;
                    cursor: pointer;
                }

                span {
                    font-size: 0.8em;
                }
    
                .mat-card-image {
                    grid-area: image;
                    width: 100%;
                    margin: 0px !important;
                    padding-right: 15px;
                }
                span.name {
                    grid-area: name;
                    align-self: center;                    
                }
                span.email {
                    grid-area: email;
                }
                span.notes {
                    grid-area: notes;
                }
                span.age {
                    grid-area: age;
                    align-self: center;
                }
            }
        }
    }
}

.patient-no-selected {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100%;  
    align-self: center;    
    justify-self: center;    
    color: #888888;
}

.patient-info {
    border-left: solid 1px #ccc;
    display: none;

    img {
        margin: 0px;
        padding: 0px;
        width: 100%;
    }

    .patient-form {
        display: grid;
        grid-template-areas:    "name       birthday"
                                "email      phone"                                
                                "notes      notes"                                
                                "btn_photo  btn_info ";
        grid-template-columns: 50% 50%;

        @include responsive(md) {
            grid-template-areas:    "name"
                                    "birthday"
                                    "email"
                                    "phone"
                                    "notes"
                                    "btn_photo"
                                    "btn_info";
            grid-template-columns: 100%;
        }
        
        mat-form-field, button {
            width: 97%
        }
        .name {
            grid-area: name;            
        }
        .birthday {
            grid-area: birthday;
        }
        .email {
            grid-area: email;            
        }
        .phone {
            grid-area: phone;
        }
        .address {
            grid-area: address;
        }
        .notes {
            grid-area: notes;
        }        
        .btn_photo {
            grid-area: btn_photo;
        }
        .btn_info {
            grid-area: btn_info;
            margin-top: 5px;
        }
        .btn_contact {            
            grid-area: btn_contact;
        }
        input {
            margin-left: 5px;
            margin-right: 5px;
        }
    }
}