<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <mat-card class="patient">  
        <div class="row">
          <div class="col-md-4 col-sm-12 patient-list">
            <h5>Pacientes</h5>
            
            <mat-form-field class="filtro">
              <input matInput placeholder="Buscar por nombre" value="">
            </mat-form-field>
            <button class="add_patient" color="primary" mat-flat-button (click)="openAddPatientModal()" >Añadir Paciente</button>
            <ul class="patientList">
              <li  *ngFor="let patient of patientsList" >
                <div (click)="selectPatient(patient.id)" class="card">
                  <img  mat-card-image src="{{patient.avatarURL}}" alt="Foto del Paciente">
                  <span class="name">{{patient.name}}</span>
                  <span class="email">{{patient.email}}</span>
                  <span class="age">{{patient.birthday}}</span></div>
              </li>
              
            </ul>
          </div>
          <div class="col-md-8 col-sm-12 patient-no-selected">
              <h3>Selecciona un paciente de la lista de la izquierda </h3>
          </div>
          <div class="col-md-8 col-sm-12 patient-info">
            <div class="box">
              <h5>Información del Paciente</h5>
              <div class="row">
                <div class="col-md-4">
                  <img src="{{patientInfo.avatarURL}}">
                  
                </div>
                <div class="col-md-8">                  
                  <form [formGroup]="updatePatientForm" class="patient-form">
                    <mat-form-field class="example-full-width name">
                      <input matInput class="" placeholder="Nombre"  formControlName="name">
                    </mat-form-field>

                    <mat-form-field class="example-full-width birthday">
                        <input formControlName="birthday" matInput [matDatepicker]="picker" placeholder="Fecha de Nacimiento">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                  
                    <mat-form-field class="example-full-width email">
                        <input class="" matInput placeholder="Correo"  formControlName="email">
                    </mat-form-field>
                    
                    <mat-form-field class="example-full-width phone">
                      <input matInput class="" placeholder="Telefono"  formControlName="phone">
                    </mat-form-field>
                    
                    <mat-form-field class="example-full-width notes">
                      <textarea matInput class="" placeholder="Notas"  formControlName="notes"></textarea>
                    </mat-form-field>
                    <br>
                    <button (click)="openAvatarModal()" class="btn_photo" color="primary" mat-flat-button>Actualizar Foto</button>
                    <button class="btn_info" color="primary" (click)="actualizarInfo()" mat-flat-button>Actualizar Informacion</button>                    
                  </form>
              </div>
              </div>              
            </div>
          </div>
        </div>
      </mat-card>
    </div>    
  </div>
</div>