
<mat-accordion>
  <a routerLinkActive="active-link" [routerLink]="['/profile']" [queryParams]="{cat: php}">
    <i class="fas fa-2x fa-user-md"></i>
    <span>Profile</span>
  </a>
  <a routerLinkActive="active-link" [routerLink]="['/patients']">
    <i class="fas fa-2x fa-users"></i>
    <span>Patients</span>
  </a>
  <a routerLinkActive="active-link" [routerLink]="['/appointments']">
    <i class="far fa-2x fa-calendar-check"></i>
    <span>Appointments</span>
  </a>
  <a routerLinkActive="active-link" [routerLink]="['/calendar']">
    <i class="fas fa-2x fa-calendar-alt"></i>
    <span>Calendar</span>
  </a>
  <a routerLinkActive="active-link" [routerLink]="['/calendar']">
    <i class="far fa-2x fa-envelope"></i>
    <span>Messages</span>
  </a>
  
  <a (click)="logout()">
    <i class="fas fa-2x fa-door-open"></i>
    <span>Logout</span>
  </a>
  
</mat-accordion>
