<h2 mat-dialog-title>{{modalTitle}}</h2>
<form [formGroup]="addPatientForm" (ngSubmit)="savePatient()">
  <mat-dialog-content>
    <div class="container-fluid">
      <div class="row">        
        <div class="col-md-6">
          <mat-form-field class="example-full-width">
            <input formControlName="name" matInput placeholder="Nombre">              
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field class="example-full-width">
              <input formControlName="birthday" matInput [matDatepicker]="picker" placeholder="Fecha de Nacimiento">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field class="example-full-width">
              <input formControlName="email" matInput placeholder="Correo">
            </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field class="example-full-width">
            <input formControlName="phone" matInput placeholder="Telefono">
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field class="example-full-width">
            <textarea formControlName="address" rows="8" matInput placeholder="Dirección"></textarea>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field class="example-full-width">
            <textarea formControlName="notes" rows="8" matInput placeholder="Notas"></textarea>
          </mat-form-field>
        </div>        
      </div>
    </div>
    
    
    <input  type="hidden" placeholder="user" >
      
  </mat-dialog-content>
  <mat-dialog-actions>
    <button mat-flat-button mat-dialog-close>Cancelar</button>    
    <button mat-flat-button>Guardar</button>
  </mat-dialog-actions>
</form>