.row > div {
    margin-bottom: 15px;
}
table {
    width: 100%;
    box-shadow: 0 0px 0px 0px rgba(0,0,0,0), 0 8px 10px 1px rgba(0,0,0,0), 0 3px 14px 2px rgba(0,0,0,0);
}
button.mat-flat-button.mat-primary {
    width: 49%;
    margin: 0.5%;
}
.basic-info {
    span.email i {
        margin-bottom: 0em;
        padding: 1em 10px 1em 0em;
    }
}
.contact {
    padding-bottom: 7px;
    button.add_contact {
        width: 100%;
        margin-top: 1em;
        text-transform: uppercase;
    }
    ul {
        margin:0;
        padding: 0px;
        li {
            display: grid;
            grid-template-columns: 75% 25%;
            box-shadow: 2px 1px 0px #ccc;
            margin-bottom: 10px;
            span {
                padding-right: 1em;
            }
            div {
                align-self: center;
                display: grid;
                grid-template-columns: 50% 50%;
                grid-gap: 1px;            
            }
            .i, span {
                color: #00639d;
                align-self: center;
            }
            button.mat-flat-button.mat-primary {
                min-width: 100%;
                margin-left: 0px;
                align-self: center;
                justify-self: center;
                text-transform: uppercase;
            }
        }
    }
}

.services {
    h5 {
        width: auto;
        display: inline-block;
    }
    button.add_service {
        width: auto !important;
        text-transform: uppercase;
    }
    ul.Servicelist {
        margin-top: 2.5em;
        display: grid;
        grid-template-columns: 100%;
        list-style-type: none;
        margin-left: 0px;
        padding-left: 0px;

        li {
            margin: 1em 0.5%;
            display: grid;            
            grid-template-columns: 30% 70%;
            border-radius: 4px;
            box-shadow: 5px 5px 10px #ccc;
            padding-bottom: 0px;
            
            span {
                align-self: center;
            }

            img {
                width: 100%;
                object-fit: cover;
                object-position: center;
                margin: 0px;                                
                padding-right: 15px !important;
                height: 100%;
            }

            .actionws {
                align-self: center;
            }   
        }
    }
}

.schooling {
    h5 {
        width: auto;
        display: inline-block;
    }
    button.add_service {
        width: auto !important;
        text-transform: uppercase;
    }
    ul {
        list-style-type: none;
        margin-left: 0px;
        padding-left: 0px;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-gap: 1em;

        li {
            display: grid;
            grid-template-areas: "image   image"
                                 "title   year"
                                 "school  year"
                                 "actions actions";
            grid-template-columns: 85% 15%;
            box-shadow: 1px 1px 1px #ccc;
            grid-auto-rows: min-content;
            justify-self: end;
            align-self: end;

            img {
                grid-area: image;
                margin: 0px;
                padding: 0px;
                width: 100%;
            }
            h5 {
                grid-area: title;
                align-self: center;
                justify-self: left;
                margin: 0px;
            }
            .school {
                grid-area: school;
                align-self: center;
                justify-self: left;
            }
            .year {
                grid-area: year;
                align-self: center;
                justify-self: center;
            }
            .actions {
                grid-area: actions;
                align-self: end;
                button {
                    margin-bottom: 5px !important;
                }
            }
        }
    }
}