<h2 mat-dialog-title>{{modalTitle}} {{appointmentID}}</h2>
<mat-dialog-content>Do you wish to update your profile image?
  <br><input type="file" name="avatar" (change)="onFileSelected($event)">
</mat-dialog-content>
<mat-dialog-actions>
 <button mat-flat-button mat-dialog-close>Cancel</button>
 <!-- The mat-dialog-close directive optionally accepts a value as a result for the dialog.-->
 <button mat-flat-button [mat-dialog-close]="true" (click)="onUpload()">Upload</button>
</mat-dialog-actions>
